@page
@using Symbol
@model IndexModel
@{
    Symbol symbol = new Symbol();
}

<div class="text-center">
    @foreach (var simpleSymbol in symbol.arrayUndoubledTextSymbols){
        <h1 class="display-4">@simpleSymbol</h1>
    }   
   
</div>
